#.env.example
APP_ENV=development
LOG_LEVEL=INFO

# Postgres connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inferx

# Redis connection
REDIS_URL=redis://localhost:6379

# OpenTelemetry Exporter Endpoint
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
